html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #51D6FF;
}

.App {
  text-align: center;
  /* background-image: url("/images/bg-image.jpg"); */
  background-color: #51D6FF;
  width: 100vw;
  height: 90vh;
  max-width: 420px;
  min-height: 720px;
  background-position: center center;
  background-repeat: repeat-x;
  background-size:cover;
  margin: 0px auto;
  margin-top: 0%;
  position: relative;
}

.App-logo {
  height: 75px;
  pointer-events: none; 
}

.-shadow{
  text-shadow: 2px 1px 0 #7A7A7A!important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  height: 65px;
  /* display: flex; */
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color:white;
  background-color: red;
  z-index:10;
  font-family: 'Press Start 2P', cursive;
}

.App-header > span{
  padding-top:26px;
  font-size: 0.5em;
  text-transform: uppercase;
  /* color: white; */
  color:black;
  position: relative;
}

.info{
  position: absolute;
  left: 23px;
  top: 7px;
  font-size: 18px;
}

.stats{
  position: absolute;
  right: 25px;
  top: 7px;
  font-size: 18px;
} 

.personImg{
  position: relative;
  z-index: 100!important;
  width: 70%!important;
  height: 70%!important;
  padding: 20px 15% 5px 15%;
}

#Answer{
  padding-top: 10px;
  padding-bottom: 15px;
  height: 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.col-10{
  width:10%;
  display:inline-block;
}
.col-80{
  width:80%;
  display:inline-block;
}
.pt-10{
  padding-top:10px!important;
}

.pt-5{
  padding-top:5px!important;
}

.noPad{
  padding:0px!important;
}

#Letters{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
} 

.letter-box{
  font-size: 1.20em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  padding: 12px 8px 12px 8px;
  min-width: 34px;
  margin:2px 2px;
  background-color:#ffffff;
  color:#333333;
  text-transform: uppercase;
  border-radius: 2px;
  border:none;
}

.letter-box:active{
  background-color: #a4a4a4;
}

.letter-box.giveup{
  background-color:#40F99B;
  color: black; 
  min-width: 40px;
}

.guess-box{
  padding:10px 10px 10px 10px;
  margin: 1px 2px;
  background-color:transparent;
  border: 1.5px solid black;
  border-radius: 2px;
  color:black;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  line-height: 15px;
  font-size: 15px;
  width: 14px;
  height: 14px;
  contain: content;
}

.help{
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-size:10px;
  z-index: 20;
  position: absolute;
  top: 120px;
  right: 40px;
  text-align: center;
  background-color: #ffffff;
  padding: 7px 5px 7px 7px;  
  line-height: 12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
  border-radius:2px;
  max-width: 100px;

  /* display: none; */
}

.status{
  font-size:24px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  padding: 15px 17px 13px 20px;
  line-height: 12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
  border-radius:2px;
  position: absolute;
  top: 218px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  /* display: none; */
}

/* Mobile Only */
@media(max-width:991px){
  .App-header > span{   
    font-size: 0.925em;   
  }
}

/* Desktop Only */
@media(min-width: 991px){
  .App{
     height: 100vh;
  }
  .letter-box:hover{
    background-color: #dcdcdc;
  }
  .letter-box:active{
    background-color: #a4a4a4;
  }
}
