.App {
  text-align: center;
  background-image: url("/images/bg-image.jpg");
  max-width: 420px;
  min-height: 740px;
  background-position: center center;
  background-repeat: repeat-x;
  background-size:cover;
  margin: 0px auto;
  margin-top: 0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; 
}

.--shadow{
  text-shadow: 2px 1px 0 #7A7A7A!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100px;
  /* display: flex; */
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:10;
  font-family: 'Press Start 2P', cursive;
}

.App-header > span{
  padding-top:25px;
  font-size: calc(4px + 2vmin);
  color: white;
}


.personImg{
  position: relative;
  z-index: 100!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status{
  text-transform: capitalize;
}


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#clouds	{
	width: 420px;
	height: 250px;
	background-image: url("/images/clouds.jpg");
	background-position: 0px 0px;
  background-repeat: repeat-x;
  position: absolute;
  top: 170px;
	animation: animatedBackground 50s linear infinite;
  z-index:0;
}

.col-10{
  width:10%;
  display:inline-block;
}
.col-80{
  width:80%;
  display:inline-block;
}

.pt-10{
  padding-top:10px!important;
}

.pt-5{
  padding-top:5px!important;
}

.noPad{
  padding:0px!important;
}

.letter-box{
  font-family: 'Press Start 2P', cursive;
  padding:7px 5px 5px 7px;
  margin:2px;
  background-color:#ffffff;
  color:#333333;
  text-transform: uppercase;
  border-radius: 0px;
  border:none;
}

.guess-box{
  padding:7px 5px 5px 7px;
  margin:2px;
  background-color:#333333;
  color:#ffffff;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}